@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One&display=swap);

$theme-font: 'Muli', sans-serif;
$logo-font: 'Fugaz One', cursive;

$main-color: #8f57fd;